/* ==========================================================================
   Default values & variables
   ========================================================================== */
html {
   box-sizing: border-box;
}

*,
*::before,
*::after {
   box-sizing: inherit;
   margin: 0;
   padding: 0;
}

/* ==========================================================================
   Main Content
   ========================================================================== */
/*
   Wrap everything and center it.

   Use fit-content, so that width equals the content and not of the heading that
   takes the whole display width.
*/
main {
   margin: 0 auto;
   width: fit-content;
}

/*	Center the heading	*/
h1 {
   text-align: center;
}

/* Container of canvas and toolbars */
.canvas-container {
   display: flex;
}

/* ==========================================================================
   Canvas
   ========================================================================== */
/*
   Canvas made up of div elements as cells.

   Set the size of the canvas and allow automatic placing of the cells with flex-wrap.
*/
.canvas {
   border: 2px black solid;
   display: flex;
   flex-wrap: wrap;
   height: 600px;
   width: 600px;
}

/* ==========================================================================
   Toolbars
   ========================================================================== */
/* Same width for side toolbars for symmetry */
.side-toolbar {
   width: 150px;
}

/*	Toolbar up
   ========================================================================== */
/* Center upper toolbar.
   
   Containts the elements to change resolution and clear the canvas.     
*/
.toolbar-up {
   margin: 0 auto;
   margin-bottom: 4px;
   width: fit-content;
}

/*	Resolution input	*/
.resolution-input {
   text-align: center;
   width: 30px;
}

/*	Toolbar left
   ========================================================================== */
/*	Input for color */
.color-picker {
   border-width: 2px;
   background-color: rgb(230, 230, 230);
   border-color: rgb(92, 92, 92);
   display: block;
   margin: 20px auto;
   width: 75px;
   height: 75px;
}

/* Make the color picker look locked if disabled */
.color-picker:disabled {
   /* border-color: darkgrey; */
   background-color: darkgray;
   color: rgb(0, 128, 109);
}

/* Style the labels of mode choices */
.menu-btn-left {
   display: inline-block;
   margin-bottom: 10px;
   padding: 5px;
   text-align: center;
   width: 85px;
}
/* ==========================================================================
   General styling
   ========================================================================== */
/* Make width as wide as content */
.fit-content {
   width: fit-content;
}
/* simple horizontal centering inside a container, best used with fit-content */
.center {
   margin: 0 auto;
}

/*	Invalid Input
   ========================================================================== */

/*	Red border for invalid input	*/
input.invalid-input {
   border-color: red;
   outline-width: 1px;
   outline-color: red;
}

/*	Radio buttons without buttons
   ========================================================================== */

/* Remove the buttons */
.toggle-buttons {
   appearance: none;
}

/* Make the labels look like buttons */

.toggle-buttons + label {
   background-color: rgb(230, 230, 230);
   border: 1px solid #333;
}

/* Outline the checked option */
.toggle-buttons:checked + label {
   outline: 1px solid rgb(0, 128, 109);
   font-weight: bold;
}

/*	General hover actions
   ========================================================================== */

/* hover action for radio button labels because the below one didn't work */
.transform:hover {
   transform: scale(1.2);
   transition-duration: 120ms;
}
/* Thise one didn't work with radio buttons  */
.transform-enabled:hover:enabled {
   transform: scale(1.2);
   transition-duration: 120ms;
}
