html {
   box-sizing: border-box;
}

*,
*::before,
*::after {
   box-sizing: inherit;
   margin: 0;
   padding: 0;
}

main {
   width: fit-content;
   margin: 0 auto;
}

h1 {
   text-align: center;
}

#clear-btn {
   display: block;
   margin: 0 auto;
   margin-bottom: 2px;
}

#sketch-container {
   display: flex;
   flex-wrap: wrap;
   height: 600px;
   width: 600px;
   border: 2px black solid;
}
