/* ==========================================================================
   Default values & variables
   ========================================================================== */
html {
   box-sizing: border-box;
}

*,
*::before,
*::after {
   box-sizing: inherit;
   margin: 0;
   padding: 0;
}

/* ==========================================================================
   Main Content
   ========================================================================== */
/*
   Wrap everything and center it.

   Use fit-content, so that width equals the content and not of the heading that
   takes the whole display width.
*/
main {
   margin: 0 auto;
   width: fit-content;
}

/*	Center the heading	*/
h1 {
   text-align: center;
}

/* Container of canvas and toolbars */
.canvas-container {
   display: flex;
}

/* ==========================================================================
   Canvas
   ========================================================================== */
/*
   Canvas made up of div elements as cells.

   Set the size of the canvas and allow automatic placing of the cells with flex-wrap.
*/
.canvas {
   border: 2px black solid;
   display: flex;
   flex-wrap: wrap;
   height: 600px;
   width: 600px;
}

/* ==========================================================================
   Toolbars
   ========================================================================== */
/* Same width for side toolbars for symmetry */
.side-toolbar {
   width: 150px;
}

/*	Toolbar left
   ========================================================================== */
/*	Input for color */
.color-picker {
   border-width: 2px;
   background-color: rgb(230, 230, 230);
   border-color: rgb(92, 92, 92);
   display: block;
   margin-top: 10px;
   margin-bottom: 10px;
   width: 75px;
   height: 75px;
}

/* Make the color picker look locked if disabled */
.color-picker:disabled {
   /* border-color: darkgrey; */
   background-color: darkgray;
   color: rgb(0, 128, 109);
}

/* Style the labels of mode choices */
.tbl-btn {
   display: inline-block;
   margin-top: 10px;
   margin-bottom: 10px;
   padding: 5px;
   text-align: center;
   width: 85px;
}

/* Make the labels look like buttons, if radio button or check box is removed */
input.rem-btn + label.tbl-btn {
   background-color: rgb(230, 230, 230);
   border: 1px solid #333;
}

/* Outline the checked option, if radio button or check box is removed */
input.rem-btn:checked + label.tbl-btn {
   outline: 1px solid rgb(0, 128, 109);
   font-weight: bold;
}

/* Background color and box model of the switch */
label.tbl-switch {
   cursor: pointer;
   height: 23px;
   background-color: rgb(230, 0, 0);
   border: 1px solid #333;
   width: 45px;
   border-radius: 20px;
   margin-bottom: 10px;
}

/* The switch ball */
label.tbl-switch::before {
   display: inline-block;
   border-radius: 50%;
   background-color: white;
   border: 1px solid #333;
   content: "";
   width: 22px;
   height: 21px;
}

/* Move switch ball of the witch if checked */
input.rem-btn:checked + label.tbl-switch::before {
   transition-duration: 200ms;
   transform: translateX(21px);
}
input.rem-btn:not(:checked) + label.tbl-switch::before {
   transition-duration: 200ms;
   transform: translateX(0px);
}

/* Coloring the background of the switch if checked or disabled */
input.rem-btn:checked + label.tbl-switch {
   transition-delay: 100ms;
   background-color: rgb(0, 230, 0);
}
input.rem-btn:not(:checked) + label.tbl-switch {
   transition-delay: 100ms;
   background-color: rgb(230, 0, 0);
}
input[disabled].rem-btn + label.tbl-switch {
   transition-delay: 100ms;
   background-color: rgb(153, 153, 153);
}

/*	Resolution input	*/
.resolution-input {
   text-align: center;
   width: 34px;
}

/* ==========================================================================
   General styling
   ========================================================================== */

/*	Flex
   ========================================================================== */
/* Flex column layout */
.flex {
   display: flex;
}
.col {
   flex-direction: column;
}

/* flex center */
.center {
   align-items: center;
}

/*	Invalid Input
   ========================================================================== */

/*	Red border for invalid input	*/
input.invalid-input {
   border-color: red;
   outline-width: 1px;
   outline-color: red;
}

/*	Radio buttons and checkboxes without buttons
   ========================================================================== */

/* Remove the buttons */
input.rem-btn {
   appearance: none;
}

/*	General hover actions
   ========================================================================== */

/* Make element slightly bigger if hovering
*/
.transform:hover {
   transform: scale(1.2);
   transition-duration: 120ms;
}
/* Make element slightly bigger if hovering and enabled

   Doesn't work for radio buttons
*/
.transform-enabled:hover:enabled {
   transform: scale(1.2);
   transition-duration: 120ms;
}
